/* Add CSS styling here */
.header {
  background-color: aqua;
  padding: 10px;
  margin:0 auto;
  text-align: center;
  justify-content:center;
  align-items:center;
}
.header h1 {
  font-size:70px;
  font-family: 'Faster One';
}

 

ul {
  display: flex;
  list-style-type: none;
  justify-content:center;
  align-items: center;
}



li a {
  color: white;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  background: #333;
}

li a:hover {
  background-color: white;
  color:lime;
}

.intro h2 {
  font-family: 'Bahiana'; font-size:3em ;
}
.intro   {
  font-family: 'Cabin Sketch';
  text-align: center;
  font-size:20px;
}
.main-img {
  padding-top:10px;
  max-width:100%;
  height:auto;
}
.body_imgs {
display:flexbox;
flex-direction:row;
}
.body_imgs  img {
  float:left;
  display:flex;
  margin:5px;
    border: 5px;
    padding: 5px;
  max-width: 10%;
  justify-content: space-between;
}


.img-text p {
  font-family: 'Major Mono Display';
  font-size:smaller;
  font-display: bold;
  display:flex;
  font-size:20px;
  text-align:center;
  

}

.img-text {
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align:center;
  margin:10px;
  border:10px solid black;
  overflow: hidden;
}
  .footer {
    display: flex;
  list-style-type: none;
  justify-content:space-evenly;
  align-items: center;
  background-color: aqua;
 padding:40px;
 width:100%;

}


@media all and (max-width: 600px) 
{
  nav  li a{
      display:flex;
      padding:10px;
      flex-direction:column;
    justify-content:space-evenly;
  }
    

}


  @media all and (max-width: 800px) 
  {
    nav  li a{
      display:flex;
      padding:10px;
      flex-direction:column;
    justify-content:space-evenly;
}
  ul {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding:10px;
  }
  

  }